KAFKA_BOOTSTRAP_SERVERS=kafka1:9092,kafka2:9092,kafka3:9092
KAFKA_TOPIC=dados-sensores
KAFKA_CONSUMER_GROUP=processadores-sensores

SENSOR_ID=sensor-01
SENSOR_INTERVAL=2

TEMPERATURE_MIN=20
TEMPERATURE_MAX=100

VIBRATION_MIN=0
VIBRATION_MAX=10

TEMPERATURE_LIMIT=80